<ul class="posts">
    {% for word in words %}
    <li class="post">
        <div class="post-content">
            <div class="post-body">
                <p>
                    <span class="h4"><a href="{{ url_for('voc.word_detail', word=word.word) }}">{{ word.word }}</a></span>
                    <span >{{ word.phonetics }}</span><br>
                    <br>
                    {% for i in range(0, word.interpretations|length if word.interpretations|length<3 else 3 ) %}
                        <span class="small" style="font-style: italic">{{ word.interpretations[i].type}}</span>
                        <span >{{ word.interpretations[i].interpretation }}</span><br>
                    {% endfor %}
                </p>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
