<ul class="posts">
    {% for word in words %}
    <li class="post">
        <div class="post-content">
            <div class="post-body">
                <p>
                    <span class="h4">{{ word.word }}</span>
                    <br>
                    {% for item in word.interpretations%}
                        <span class="small" style="font-style: italic">{{ item.type}}</span>
                        <span >{{ item.interpretation }}</span><br>
                    {% endfor %}
                </p>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
