{% extends "base.html" %}
{% block title %}{{ passage.title}}{% endblock %}

{%  block styles %}
{{super()}}
<style>
 #bottomNav {
 /*background:black;*/
 z-index:999;
 position:fixed;
 bottom:10px;
 right:15px; width:100px; _position:absolute;
 _top: expression_r(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); overflow:visible; }
</style>
{% endblock %}

{% block page_content %}
<div id="bottomNav">
    <ul class="list-group">
      <li class="list-group-item"><a href="#vocabulary">vocabulary</a></li>
      <li class="list-group-item"><a href="#passage">passage</a></li>
    </ul>
</div>
<div class="row align-items-center" id="passage">
    <div class="col-md-9"><h1>{{ passage.title }}</h1></div>
    <div class="col-md-3">
        <p>
            <button id="ufwordsChoose" class="btn btn-default">Choose the unfamiliar words</button>
        </p>
    </div>
</div>
<p>
    <a href="{{ url_for('.update_passage', passage_id=passage.id) }}">update the passage</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <a href="javascript:void(0)" id="font-larger">A+</a>&nbsp;&nbsp;&nbsp;
    <a href="javascript:void(0)" id="font-smaller">A-</a>&nbsp;&nbsp;&nbsp;
</p>

    <br>
    <div class="row align-items-center" id="chooseUf" hidden>
        <div class="col-md-9">
            <p id="selected">selected words:&nbsp;<span class="strong" id="selectedWords"></span></p>
        </div>
        <div class="col-md-3">
            <button id="ufwordsSubmit2" class="btn btn-default">save the unfamiliar words</button>
        </div>
    </div>


    <hr>
    <div id="box" style="font-size:120%">
        {% if passage.passage_html %}
            {{ passage.passage_html | safe }}
        {% else %}
            {{ passage.passage }}
        {% endif %}
    </div>

<div class="row">
    <br><br><br>
    <div class="col-md-12" id="vocabulary">
        <div class="row">
            <div class="col-md-9">
                <p class="h3"> Word frequency statistics
                    <span class="small" > <span id="unfamiliarWordsCount">{{ word_dict_list| length }}</span> Words are unfamiliar</span>
                </p>
            </div>
            <div class="col-md-3">
                <button id="saveFamiliarWords" class="btn btn-default">save the familiar words</button>
            </div>
        </div>

        <hr>
        <div id="familiarWords">
            {% for k,v in word_dict_list %}
            <div class="col-md-4 col-sm-12">
                <p>
                    <!--<a href="{{ url_for('.word_detail', word=k, from=url_for(request.endpoint, passage_id=passage.id), create=1) }}"><span>{{ k }}</span></a> :-->
                    <a data-toggle="modal" data-target="#myModal" onclick="{{ 'view_interpretation(\''  + k + '\',\''+ passage.id|string +'\')' }}"><span>{{ k }}</span></a>
                    :
                    <span>{{ v }}</span>
                    &nbsp; &nbsp; &nbsp;
                    <input type="checkbox" name="word" w="{{ k }}" id="{{ 'word_'+ k }}" value="">
                    <label style="font-weight:normal" for="{{ 'word_'+ k }}">familiar</label>
                    <br>
                </p>
                </div>
            {% endfor %}
        </div>
        <hr>
        <br>
    </div>



    </div>

</div>
<br><br><br><br><br><br><br><br><br><br>


<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" >
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Interpretation</h4>
                </div>
                <div class="modal-body" id="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>

        // $(document).ready(function(){    $("#f_menu").hover(function(){        $(this).text("返回顶部");    });});

        // 增加一个去空格的方法
        if (typeof(String.prototype.trim) === "undefined") {
            String.prototype.trim = function () {
                return String(this).replace(/^\s+|\s+$/g, '');
            };
        }

        setWordColor = {
            selectWord: "",
            selectedWordList: [],
            updateSelected: function () {
                selectedWordsStr = this.selectedWordList.join(', ');
                words_span = document.getElementById('selectedWords');
                words_span.innerText = selectedWordsStr;
                ufwordsSelected = document.getElementById('ufwordsSelected')
                ufwordsSelected.value = selectedWordsStr;
            },
            selectWordEnd: function (e) { // 获取鼠标选择的文本.
                //监听鼠标放开的回调函数
                var word = "";
                //对选中文字的处理
                if (document.selection) { // IE
                    var sel = document.selection.createRange();
                    word = sel.text;
                    setWordColor.selectWord = document.selection.createRange();
                } else if (window.getSelection) { // w3c
                    word = window.getSelection();
                    setWordColor.selectWord = window.getSelection().getRangeAt(0);
                }
                if (word.toString().trim() != "") {
                    setWordColor.changeColor();
                }
            },
            changeColor: function () { //使用全局变量的一个好处是, 减少传参. 把参数放到一个公共的地方.
                //选择颜色之后，对选中文字的变色函数
                if (!this.selectWord) {
                    alert("您还没有选择词语，请选择！");
                } else {
                    if (document.selection) {
                        setWordColor.selectWord.execCommand("BackColor", true, setWordColor.selectColor);
                    } else {
                        parent = setWordColor.selectWord.startContainer.parentElement
                        console.log(setWordColor.selectWord.toString())
                        if (parent.tagName == 'SPAN' && parent.getAttribute('tar') == 'selectedWord') {
                            parent.style.cssText = ""
                            parent.setAttribute('tar', '')
                            wordIndex = this.selectedWordList.indexOf(this.selectWord.toString())
                            this.selectedWordList.splice(wordIndex, 1);
                            this.updateSelected();
                        } else if (parent.tagName == 'SPAN' && parent.getAttribute('tar') == '') {
                            parent.style.cssText = "background-color:gray"
                            parent.setAttribute('tar', 'selectedWord')
                            this.selectedWordList.push(this.selectWord.toString())
                            this.updateSelected();
                        } else {
                            try {
                                if (this.selectedWordList.indexOf(this.selectWord.toString()) === -1) {
                                    var span = document.createElement("span");
                                    span.style.cssText = "background-color:gray";
                                    span.setAttribute('tar', 'selectedWord')
                                    this.selectedWordList.push(this.selectWord.toString())
                                    this.selectWord.surroundContents(span);
                                    this.updateSelected();
                                }
                            } catch (ex) {
                                alert("选择出错，请保证不要跨段落选择文本,不要截断页面特殊格式的词语！");
                                console.log("error name:" + ex.name + "<br />error message:" + ex.message);
                            }
                        }
                    }
                    //变色完成，把相关的参数初始化。
                    setWordColor.selectColor = "#FFF";
                    setWordColor.selectWord = "";
                }
            }
        }

        function postSelectedWords() {
            url = '/voc/add_myufword_api';
            post_data = {
                selectedWordsStr: setWordColor.selectedWordList.join(', ')
            }
            $.ajax({
                    url: url,
                    type: 'POST',
                    data: JSON.stringify(post_data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        alert('成功')
                        console.log(data)
                    },

                }
            )
        }
        $('#chooseUf').hide();
        function chooseUnfamiliarWord(){
            if  ($('#chooseUf').is(':hidden')){
                $('#chooseUf').show();
                $('#box').on('dblclick', setWordColor.selectWordEnd);
            }else{
                $('#chooseUf').hide();
                $('#box').off('dblclick', setWordColor.selectWordEnd);
            }

        }
        $('#ufwordsChoose').on('click', chooseUnfamiliarWord)


        $('#ufwordsSubmit2').on('click', postSelectedWords)

        function postFamiliarWords(){
            familiarWordsDiv = $('div#familiarWords')
            familiarWords = familiarWordsDiv.find('[name=word]').filter(function(){
                return $(this).is(':checked')
            })
            words = []
            familiarWords.each(function(index, element){
                words.push($(element).attr('w'))
            })
            url = '/voc/add_my_familiar_word_api';
            post_data = {
                words: words
            }
            $.ajax({
                    url: url,
                    type: 'POST',
                    data: JSON.stringify(post_data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        // delete the selected
                        familiarWordsP = familiarWordsDiv.find('div').filter(function(){
                            return $(this).find(':checkbox').is(':checked')
                        });
                        familiarWordsP.remove()
                        // update the count
                        unfamiliarWordsP = familiarWordsDiv.find('div').filter(function(){
                            return !$(this).find(':checkbox').is(':checked')
                        });
                        $('#unfamiliarWordsCount').text(unfamiliarWordsP.length);
                    },

                }
            )
        }
        $('#saveFamiliarWords').on('click', postFamiliarWords)


         // get the interpretation from the server when click the modal button.
         function view_interpretation(word, passage_id){
                $.ajax({
                        url: '/voc/words_modal/'+word + '?passage_id=' + passage_id,
                        type: 'GET',
                        //data: JSON.stringify(post_data),
                        contentType: "application/x-www-form-urlencoded",
                        //dataType: "json",
                        success: function (data) {
                            $('#modal-body').html(data)
                        },

                    }
                )
             }

          // bind the click functions that adjust the font-size when click the font-size button
          $("#font-larger").click(function () {
                var s_size = $("#box").css("font-size"),s_number = parseFloat(s_size);
                if(s_number<30)
                {
                     var newSize = s_number +2;
                    $("#box").css("font-size", newSize);
                }
                else
                    return false;
            });
            $("#font-smaller").click(function () {
                var s_size = $("#box").css("font-size"),s_number = parseFloat(s_size);
                if(s_number>14)
                {
                    var newSize = s_number -2;
                    $("#box").css("font-size", newSize);
                }
                else
                    return false;
            });
    // adjust the font-size depend of the divice.
    function show_device() {

    var userAgent = navigator.userAgent.toLowerCase();
    var platform;
    if (userAgent == null || userAgent == '') {
        platform = 'WEB';
    } else {
        if (userAgent.indexOf("android") != -1) {
            platform = 'ANDROID';
        } else if (userAgent.indexOf("ios") != -1 || userAgent.indexOf("iphone") != -1 || userAgent.indexOf("ipad") != -1) {
            platform = 'IOS';
        } else if (userAgent.indexOf("windows phone") != -1) {
            platform = 'WP';
        } else {
            platform = 'WEB';
        }
        return platform;
    }
   }
    var device = show_device();
    if (device != 'WEB'){
       $("#box").css("font-size", 24);
    }
    </script>
{% endblock %}
