{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %} {# 这句话说明了什么? 一个html被当做python脚本来看待. 只不过在jinja模板里, 使用特定的语法 #}

{% block title %}My Vocabulary-{{ title }}{% endblock %}
{% block page_content %}
    <h1>Passages </h1>
    <hr>
    <p class="h4"><a href="{{ url_for('voc.add_passage') }}">[add passage]</a></p>

    <div class="post-tabs">
        <form action="">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="passage title" id="searchBox" aria-describedby="searchButton">
            <span class="input-group-addon" ><a id="searchButton"  href="javascript:void(0);">Search</a></span>
        </div>
        </form>
        <br>
    </div>
        {% include 'vocabulary/_passages.html' %} {# 所有的引用都假设当前根目录是 templates文件夹 #}
    </div>
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.passages', title=search_title) }} {# 当前蓝图下的words endpoint #}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
    <script>
        function search(){
            searchTitle = $('#searchBox').val();
            request_url = '/voc/passages'
            if (searchTitle){
                request_url = request_url + '?title=' + searchTitle
            }
            window.location.href = request_url;
        }
        $('#searchButton').on('click',search);
        $('#searchBox').on('keypress',function(e){
            if(e.keyCode == 13)
            {
                search();
                return false; // this line is very import, because a input field in a form will cause the form to submit
            }
        });
        searchTitle = "{{ search_title | safe }}";
        if (searchTitle != 'NULL'){
            $('#searchBox').val( {{ search_title }});
        }


    </script>
{% endblock %}
