{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}

    <div class="row">
    <h1>Update the word set</h1>
        <form method="POST" action="#">
            {{ form.csrf_token }}
    {#        <div>{{ form.word.label }}: {{ form.word(class="form-control", placeholder="the word") }}</div>#}
            <div>{{ form.set_title.label }}: {{ form.set_title(class="form-control") }}</div>
            <div>{{ form.set_desc.label }}: {{ form.set_desc(class="form-control") }}</div>
            <div>{{ form.set_words.label }}: {{ form.set_words(class="form-control", rows=3, placeholder=format) }}</div>
            <div>{{ form.submit(class="btn btn-default") }}</div>
        </form>

    </div>
{% endblock %}