{% if word %}
    <h1>{{ word.word }}<small >&nbsp;&nbsp;{{ word.phonetics }}</small><br></h1>
    <p><a href="http://dict.youdao.com/w/eng/{{word.word}}/" target="_blank">查看有道词典</a></p>
    <p><a href="{{ url_for('voc.update_word', word=word.word)}}">编辑</a></p>
    <ul>
       {% for item in word.interpretations%}
        <li>
            <p class="h5" ><span style="font-style: italic">{{ item.type }} </span>{{item.interpretation }} </p>
            <ol>
                {% for subitem in item.examples %}
                <li> {{ subitem.example }} </li>
                {% endfor %}
            </ol>
        </li>
        {% endfor %}
    </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
{% else %}
    <h1> Word not exists</h1>
{% endif %}
