 <div class="container">
     <script>
         function view_interpretation(word){
                $.ajax({
                        url: '/voc/words_modal/'+word,
                        type: 'GET',
                        //data: JSON.stringify(post_data),
                        contentType: "application/x-www-form-urlencoded",
                        //dataType: "json",
                        success: function (data) {
                            $('#modal-body').html(data)
                        },

                    }
                )
             }
     </script>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" >
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Interpretation</h4>
                </div>
                <div class="modal-body" id="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>