{% if word %}
    <h1>{{ word.word }}<small >&nbsp;&nbsp;{{ word.phonetics }}</small><br></h1>
    <p>
        <a href="{{  url_for('.update_word', word=word.word) }}" target="_blank">Edit </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://dict.youdao.com/w/eng/{{word.word}}/" target="_blank">View in Youdao Dict</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.collinsdictionary.com/dictionary/english/{{word.word}}" target="_blank">View in Collins Dict</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a id="collect" href="javascript:void(0);" > {{favorite}} </a>
    </p>
    {% if ext_args.get('collected_st_exist') %}
        <p><a href="#sentence_modal" data-toggle="modal" onclick="view_sentences( '{{ word.word }}' );" ><span style="font-style:italic;">View Sentences</span></a></p>
    {% endif %}
    {% if sentences %}
        <h3>Sentence of word in the passage:</h3>
            {% for item in sentences %}
               <p><span class="sentence">{{item}}</span>
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="collect_sentence(this)"><span style="font-style:italic;">Collect</span></a>
               </p>
            {% endfor %}
    {% endif %}
    <p class="h3"> Interpratations: </p>
    <ul>
       {% for item in word.interpretations%}
        <li>
            <p class="h5" ><span style="font-style: italic">{{ item.type }} </span>{{item.interpretation }} </p>
            <ol>
                {% for subitem in item.examples %}
                <li> {{ subitem.example }} </li>
                {% endfor %}
            </ol>
        </li>
        {% endfor %}
    </ul>
<script>
        $("#collect").click(function () {

            post_data = { 'word': "{{ word.word }}", 'action': 1 };
            console.log( post_data );
            $.ajax({
                url: '/voc/switch_my_favorite_word_api',
                type: 'POST',
                data: JSON.stringify(post_data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#collect").text(data.favorite)
                }
              }
            )

         });

         function collect_sentence(e) {
            word = '{{ word.word }}';
            passage_id = '{{ ext_args.get('passage_id') }}';
            sentence = $(e).parents('p').find('.sentence').text();
            post_data = { 'word': "{{ word.word }}", 'passage_id': passage_id, 'sentence': sentence };
            console.log( post_data );
            $.ajax({
                url: '/voc/collect_sentence',
                type: 'POST',
                data: JSON.stringify(post_data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    alert(data.favorite)
                }
              }
            )
         };
</script>
{% else %}
<h1> Word not exists</h1>
{% endif %}
